/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Segoe UI;
}
/* The nav bar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /*Phone! looks wierd witout */
  margin: 0; /* Phone! looks wierd without */
}
/* highlight on drop down */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(62, 62, 141, 0.507);
}
/* Hide dropdown*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* highlight on the dropdown */
.dropdown-content a:hover {
  background-color:rgba(62, 62, 141, 0.507);
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* header stuff */
h1,h2,h3,h4,h5,h6{
  font-family:"Segoe UI",Arial,sans-serif;
  font-weight:400;margin:10px 0
}

body {
  width: 99%;
  padding: 0;
  background: #0e153f;
}
.eyes {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 240px;
  height: 120px;
  background: #fff;
  display: inline-block;
  /*margin: 0 auto;*/
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.ball {
  width: 75px;
  height: 75px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "eyeBalls eyeBalls eyeBalls eyeBalls"
    "eyeBalls eyeBalls eyeBalls eyeBalls"
    "description description description description";
}
.eyeBalls { 
  grid-area: eyeBalls; 
}
.description { 
grid-area: description; 
color: white;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1.2em;

}